<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row class="navbarFlex">
    <h1 class="navbarTitle">How can we help You ?</h1>
    <div class="input-group mt-3" style="width: 80%">
      <span class="input-group-text"  [routerLink]="'/search'">
        <svg
          width="24"
          height="24"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          data-svg="search-icon"
        >
          <circle
            fill="none"
            stroke="#000"
            stroke-width="1.1"
            cx="9"
            cy="9"
            r="7"
          ></circle>
          <path
            fill="none"
            stroke="#000"
            stroke-width="1.1"
            d="M14,14 L18,18 L14,14 Z"
          ></path>
        </svg>
      </span>
      <input type="search" class="form-control" placeholder="Search for answer" />
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
