<div class="container">
  <div class="row">
    <div class="" *ngFor="let search of searchData ">
      <mat-card class="example-card" style="margin-top:30px">
        <mat-card-content>
          <mat-card-title>{{search.title}}</mat-card-title>
          <div class='detail'>
            {{search.description |truncate:[280, '...']}}
              <span mat-raised-button color="primary" [routerLink]="'/post-view/'+search.id">read more</span>
          </div>
        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar>
            <img class="avatar" width="48px" src="assets/images/profile.png" />
          </div>
          <mat-card-subtitle
            >Written by <span><b>{{search.author}}</b></span></mat-card-subtitle
          >
          <mat-card-subtitle><span>{{search.date}}</span></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>

